.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 0 0 15px 15px;

  a {
    margin: 10px;
    padding: 10px;
  }
}
